@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --body: #15171E;
        --navhov:#23252B;
        --menuhov:#303237;
        --menutext:#ffffffb8;
        --dropmenu:#1A1C23;
        --dropmenuhov:#272930ca;
        --menuborder:#148EFF;
        --menulight:#69706e;
        --bluebut:#0074E0;
        --blueline:#47A6FF;
        --card:#23252b;
        --cardtext:#ffffffB8;
        --cardtext1:#ffffffD6;
        --cardtext2:#ffb400;
        --cardhov:#313339;
        --cardgreen:#6CDB00;
        --cardred:#DD0000;
        --divbut:#111218;
        --graybut:#36383E;
        --grayline:#48494F;
    }
}